{% extends "base.html" %}

{% block title %} List {% endblock title %}

{% block content %}

    {% csrf_token %}

    {% for post in posts %}
        <h2>
            <a href="{% url 'detail' post.pk %}" class="link-opacity-85 text-decoration-none">{{ post.title }}</a>
        </h2>
        <p>{{ post.content|truncatewords:15}}</p>
    {% endfor %}
    
    {% if user.is_authenticated and user.is_staff %}
        <a href="{% url "create" %}" class="btn btn-primary mt-4">Create Post</a>
    {% endif %}

{% endblock content %}