{% extends "base.html" %}

{% block title %} Post Detail {% endblock title %}

{% block content %}

<div class="card" style="width: 78rem;">
    <div class="card-body">

        <h1 class="card-title">{{ post.title }}</h1>
        <h6 class="card-subtitle mb-2 mt-1 text-body-secondary">Published: {{ post.publish_date }}</h6>
        <h6 class="card-subtitle mb-4 text-body-secondary">Updated: {{ post.update_date }}</h6>

        <p class="card-text mb-4">{{ post.content }}</p>
        <a href="{% url 'update' post.pk %}" class="btn btn-primary">Update</a>
        <a href="{% url 'delete' post.pk %}" class="btn btn-danger ms-1">Delete</a>
        <a href="{% url 'list' %}" class="btn btn-secondary ms-1">Back</a>

    </div>
</div>
{% endblock content %}
